<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/details.css">
</head>

<body>
<%- include("../includes/nav.ejs") %>

<main>
  <h1><%= prod.title %></h1>
  <div class="prod-container">
    <img src="<%= prod.imageUrl %>">
    <div class="prod-description">
      <h2><%= prod.title%></h2>
      <p><%= prod.description%></p>
      
      <div class="grow"></div>

    <span>
      <p class="price-text">Price: </p>
      <p class="price">$<%= prod.price%></p>
    </span>

      <div class="prod-buttons">
      <form action="/cart" method="POST">
        <button href="" type="submit" class="cart-btn">Add to cart</a>
        <input type="hidden" name="productId" value="<%= prod.id %>"> 
        <input type="hidden" name="details" value="true"> 
      </form>
      </div>
    </div>
  </div>
</main>
<%- include("../includes/end.ejs") %>
